
.section__container {
    width: 100%;
    padding: 20px 20px 20px 20px;
    .title {
        width: 100%;
        font-family: $headlines;
        font-weight: 400;
        font-size: 2.6rem;
    }
    .text {
        width: 100%;
        padding-top: 12px;
        font-family: $generalText;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}