
.navbar {
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: $grayGeneral;
    .logo__container, .handleMenu__container {
        width: 30px;
        .logo__img, .handleMenu__img {
            width: 30px;
            height: 30px;
        }
    }
    
    &__nameJair {
        width: 75%;
        font-family: $generalText;
        font-weight: 400;
        font-size: 2.2rem;
        color: $black;
    }
    
    .menu__list {
        width: 35%;
        position: absolute;
        top: 70px;
        right: 0;
        padding: 10px 20px;
        border-bottom-left-radius: 10px;
        background: $grayGeneral;
        .menu__item {
            width: 100%;
            padding: 5px 0;
            font-family: $generalText;
            font-weight: 400;
            font-size: 1.4rem;
            text-decoration: none;
            text-align: end;
            color: $black;
            cursor: pointer;
        }
    }

    .hideMenu {
        display: none;
    }
    .showMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

}

@media ( min-width: 768px ) {

    .navbar {
        height: 100px;
        .logo__container {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo__img {
                width: 50px;
                height: 50px;
            }
        }
        
        &__nameJair {
            width: 45%;
            font-size: 2.8rem;
        }

        .handleMenu__container {
            display: none;
        }

        .menu__list {
            width: 45%;
            position: static;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0px;
            border-bottom-left-radius: 0;
            .menu__item {
                width: 100%;
                padding: 15px 0;
                text-align: center;
            }
        }

        .showMenu {
            flex-direction: row;
        }
    }

}

@media ( min-width: 1024px ) {

    .navbar {
        
        &__nameJair {
            width: 65%;
        }

        .menu__list {
            width: 30%;
            .menu__item {
                font-size: 1.6rem;
            }
        }
    }
}
